
* {
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: "Roboto",sans-serif
}

body{
    margin: 0;
    background:#fff;
}

section{
    background-color: #272935;
}

section:nth-of-type(2n){
    background-color: #23252f;
}

footer{
    padding: 20px;
    text-align: center;
}

p{
    margin-top: 0px;
}

h2{
    padding: 40px;
    text-align: center;
    font-size: 3em;
    margin-top: 0px;
    color: #98a6ad;
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
    margin-bottom: 0px;
}

h3{
    color: #98a6ad;
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
}

.menu{
    border: 0;
    display: none;
    padding-right: 20px;
    position: relative;
    background-color:#fff;
}

button:hover{
    cursor: pointer;
}

svg path {
    fill:#000;
}

nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color:#fff;
}

a{
    text-decoration: none;
}

hr{
    color: #2b323b;
    margin: 0 15%;
}

#intro{
    display: flex;
    margin-top: 59px;
    padding: 0 50px 50px;
}

.show{
    display: block !important;
}

.picture{
    border-radius: 50%;
    width: 270px;
    height: 270px;
    margin: 0 auto;
    object-fit: cover;
}

.button{
    border: 0;
    padding: 20px;
    background-color: #455a64;
    font-size: 0.95rem;
    color: #f8f8f2;
}

.button:hover{
    background-color: #718792;
}

#project-filter > .button:first-child{
    border-radius: 10px 0 0 10px;
}

#project-filter > .button:last-child{
    border-radius: 0 10px 10px 0;
}

.profile-name{
    text-transform: unset;
    padding: 10px;
    color: #fff;
    font-size: 1.5em;
}

.profile-job{
    text-transform: unset;
    padding: 10px;
    margin: 0;
}

.toolbox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toolbox-item{
    text-align: center;
}

.info{
    padding: 0 10px;
    text-align: center;
    padding-top: 40px;
}

.biography{
    padding: 0 30px;
    color: #f8f8f2;
}

.list-item{
    margin-bottom: 5px;
}

.other{
    display: flex;
}

.interests{
    flex: 0 50%;
}

.education{
    flex: 0 50%;
}

.navbar-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar-container > li{
    list-style-type: none;
}

.navbar-container > li > a {
    color: #000;
    text-decoration: none;
    padding: 20px;
    display: block;
}

.icon{
    font-size: 48px;
    margin: 10px 10px 20px 10px;
    color: #535b62;
}

.icon-github:hover{
    color: black;
    transition: 0.3s;
}

.icon-linkdin:hover{
    color: #4875B4;
    transition: 0.3s;
}

.icon-mail:hover{
    color: #ffc04c;
    transition: 0.3s;
}

.toolbox-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 0 50px 70px;
}

.scale{
    transition: all 0.5s;
}

.scale:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.labels{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    color:#fff;
    font-family: "Montserrat",sans-serif;
}

.dropdown-menu{
    position: absolute;
    display: none;
    background-color:#fff;
    top: 42px;
    width: 100%;
    padding: 0;
}

.logo-container{
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    padding: 20px;
    width: 160px;
}

.logo{
    color: #000;
    font-weight: bold;
}

.dropdown-menu-items{
    padding: 20px;
    text-align: center;
    list-style-type: none;
}

.dropdown-menu-items > a {
    color: #000;
}

.signature{
    color:black;
}


.hr-dropdown{
    color:#000;
    margin: 0 15%;
}

.navbar-section:hover{
  transform: scale(1.1);
  transition: 0.1s;
}

#project-filter{
    font-size: 0;
}

.projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.projects-item{
    display: none;
}

.active{
    background-color: #1c313a;
    font-weight: 700;
}

.project{
    position: relative;
    color: #fff;
    justify-self: center;
    max-width: 1000px;
    padding: 3.45rem 1.875rem;
    text-shadow: 0 1px 1px rgba(0,0,0,.15);
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.project-link{
    flex: 0 0 25%;
    text-align: center;
}

.project-img{
    -webkit-transition: all .3s cubic-bezier(.25,.8,.25,1);
    border-radius: 3px;
    margin-bottom: 1.122rem;
    transition: all .3s cubic-bezier(.25,.8,.25,1);
    background: black;
    max-width:150px;
    max-height:150px;
    width: auto;
    height: auto;
}

.project-info{
    margin-left: 40px;
}

.project-title{
    font-family: "Montserrat",sans-serif;
    font-size: 1.4238rem;
    line-height: 1.875rem;
    margin-bottom: .375rem;
    margin: 0;
}

.project-description{
    font-size: .95rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    color: #f8f8f2;
    font-family: "Montserrat",sans-serif;
}

.tech-used{
    position: absolute;
}

.tech-used-icons{
    width: 40px;
    height: 35px;
}

 @media screen and (max-width: 320px) {
     .project-img{
         height: 200px;
         width: 250px;
     }
  }

@media screen and (min-width: 768px) {
    .info{
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }

    .biography{
        flex: 0 0 66.6666%;
        max-width: 66.6666%;
    }

    .projects-item{
        width: 700px;
    }

    .toolbox-item{
         width: 25%;
    }
}

@media screen and (max-width: 768px) {

    nav{
        justify-content: space-between;
     }

     #intro{
         flex-direction: column;
         padding: 0 20px 20px !important;
     }

    h2{
        font-size: 2rem;
    }

    .biography{
        padding: 0 10px;
    }

    .project{
        flex-direction: column;
    }

    .project-link{
        margin: 0 auto;
    }

    .labels{
        font-size: 20px;
    }

    .button{
        padding: 15px;
    }

    .project-info{
        margin-left: 0;
    }

    .navbar-container{
        display: none;
    }

    #name{
        height: 250px;
    }

    #title{
        font-size: 1.5em;
    }

    .menu{
        display: block;
    }

    .toolbox-icons{
        flex-direction: column;
    }
}
